html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        block favicon
            link(rel="shortcut icon" href="/images/favicon.png" type="image/png")
        block styles
            link(rel="stylesheet" href="/stylesheets/style.css")
            link(rel="stylesheet" href="/css/bootstrap.min.css")
        block scripts
            script(src="/jquery.min.js")
            script(src="/js/bootstrap.bundle.min.js")
        block title
    body
        .wrap
            include ./partials/header
            include ./index
